// Angular material theming
@use '@angular/material' as mat;

@include mat.core();

$my-blue-palette: (
    50 : #e7eef8,
    100 : #c3d4ef,
    200 : #9bb8e4,
    300 : #739cd9,
    400 : #5586d0,
    500 : #3771c8,
    600 : #3169c2,
    700 : #2a5ebb,
    800 : #2354b4,
    900 : #1642a7,
    A100 : #dae4ff,
    A200 : #a7bfff,
    A400 : #749aff,
    A700 : #5b87ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-primary: mat.define-palette($my-blue-palette, 500);
$my-accent: mat.define-palette($my-blue-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

// Default styles
html { 
    position: relative;  
} 

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 500px; 
    height:350px !important; 
    overflow-y: scroll; 
    overflow-x: scroll;
} 

.center-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}