.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-container {
    margin-bottom: 12px;
}

.icon {
    transform: scale(2);
}

.button {
    width: 125px;
    height: 125px;
}